<div class="row">
  <div class="col-md-8">
    <p><b>Name: </b><%= @idea.name %></p>
    <p><b>Description: </b><%= @idea.description %></p>

    <% if @idea.images.attached? %>
        <p><b>Attachments: </b><% @idea.images.each do |image| %>
          <p>Filename: <%= image.filename %></p>
          <p><%= image_tag image if image.image? %></p>
          <%= link_to 'Download file', rails_blob_path(image, disposition: 'attachment') %>
        <% end %>
        </p>
    <% end %>


      <%= link_to 'Edit', edit_idea_path(@idea) %> |
      <%= link_to 'Destroy', @idea, data: { confirm: 'Are you sure?' }, method: :delete %> |
      <%= link_to 'Back', ideas_path %>


      <br>
      <br>
      <br>


      <h3>Add Users to Project</h3>
      <% @users = User.all %>
      <select id="user_select" name="user_select" class="input-large">
        <% @users.each do |user| %>
          <option><%= user.email %></options>
        <% end %>
      </select><br>
      <br>
      <br>
      <br>

      <h3>Project Comments</h3>
      <% @comments.each do |comment| %>
        <div>
          <strong><%= current_user.email %></strong>
          <br>
          <p><%= comment.body %></p>
          <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
      <% end %>
<%= render partial: 'comments/form', locals: { comment: @comment } %>
    </p>
  </div>

  <div class="col-md-4">
  <h3>Users on the <b><%= @idea.name %></b> project </h3>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
  </div>

</div>