<div class="row">
  <div class="col-md-8">
    <p><b>Name: </b><%= @idea.name %></p>
    <p><b>Description: </b><%= @idea.description %></p>

    <% if @idea.images.attached? %>
        <p><b>Attachments: </b><% @idea.images.each do |image| %>
          <p>Filename: <%= image.filename %></p>
          <p><%= image_tag image if image.image? %></p>
          <%= link_to 'Download file', rails_blob_path(image, disposition: 'attachment') %>


        <% end %>
        </p>
    <% end %>

   
      <%= link_to 'Edit', edit_idea_path(@idea) %> |
      <%= link_to 'Destroy', @idea, data: { confirm: 'Are you sure?' }, method: :delete %> |
      <%= link_to 'Back', ideas_path %>


      <br>
      <br>
      <br>



      <h3>Add Users to Project</h3>
      <% @users = User.all %>
      
      <%= form_with url:"/addfriend/#{@idea.id}", local: true do |form| %>
        <%= form.select(:user_id, options_for_select(@user_options), prompt: 'Please Select User')%>
        <br>
        <br>
        <%= form.submit 'Add User' %>
      <% end %>
 

      


      <br>
      <br>
      <br>

      <h3>Project Comments</h3>
      <% @comments.each do |comment| %>
        <div>
          <p><b>Commenter: </b><%= comment.user.email %></p>
          <b>Comment: </b><%= comment.body %><br>
          <%= link_to 'Delete', [@idea, comment], method: :delete, data: { confirm: 'Are you sure?' } %> |
          <%= link_to 'Edit', edit_idea_comment_path(@idea, comment) %>

        </div>
        </br>
      <% end %>
<%= render partial: 'comments/form', locals: { comment: @comment } %>
    </p>
  </div>

  <div class="col-md-4">
  <% @project_users = @idea.users %>
  <h3><b>Project Users</b></h3>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
  <% @project_users.each do |user| %>
    <tr>
      <th scope="row"><%= user.id %></th>
      <td><%= user.email %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<br>

<h3>Project Tasks</h3>
<% @tasks.each do |task| %>
  <div>
    <b>Name: </b><%= task.name %><br>
    <%= link_to 'Delete', [@idea, task], method: :delete, data: { confirm: 'Are you sure?' } %> |
    <%= link_to 'Edit', edit_idea_task_path(@idea, task) %>
  </div>
  <br>
<% end %>
<br>
<h3><b>Create Tasks</b></h3>
<%= render partial: 'tasks/form', locals: { task: @task } %>


</div>

</div>