<%= form_with(model: comment, local: true) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_name %>
    <%= form.text_field :user_name %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :comment_body %>
  </div>

  <%= form.hidden_field :idea_id %>

  <div class="comment-container">
  <div class="meta">
    <img src="https://gravatar.com/avatar/23baf50ab105ff872dc428a75ab49854?s=80&d=https://codepen.io/assets/avatars/user-avatar-80x80-bdcd44a3bfb9a5fd01eb8b86f9e033fa1a9897c3a15b33adfc2649a002dab1b6.png" alt="" class="avatar">
    <span class="name">Milad Dehghan</span>
  </div>
  <textarea class="form-control" name="" id=""></textarea>
  <span class="placeholder">write a response</span>

  <div class="btns">
    <a href="#" class="btn btn-default">publish</a>
  </div>
</div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
